@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Nunito Sans');
@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');



*{
    padding: 0%;
    margin: 0%;
   
}
body{
    background: linear-gradient(to right,rgba(0, 255, 255, 0.452) , rgba(255, 192, 203, 0.774));
}

.logo{
    display: flex;
   
    margin-top:90px ;
    margin-left:80px ;
}
.logos{
    height: 30px;
   
}

.name{
    font-family: 'Bebas Neue';
    font-size: 25px;
   
    
}


.section1{
    height: 700px;
    display: flex;
    justify-content: space-evenly;

}
.text_head{
    position: relative;
    top: 175px;
    left: 70px;
}
.pic{
    float: right;
    height: 550px;
    position: relative;
    right: 90px;
    top: 50px;  
}
.button1,.button2{
    display: flex;
    border: none;
    border-radius: 40px;
    padding-top: 25px;
    padding-bottom:25px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 20px;  
}

.button2{
    background-color: #ffffff52;
}
.buttons{
    display: flex; 
    margin-top: 60px;    
}
.main{
    font-family: 'Oxygen';
    padding-left:  px;
    padding-right: 340px;
    font-size: 60px;
}
.main1{
    padding-left: px;
    font-family: 'Bebas Neue';
    font-size: 100px;
}
.pic2{
    height: 590px;
    width: 490px;
    float: right;
    padding-right: 100px;   
    border-top-right-radius: 250px ;
}
.section2{
    font-family: 'Nunito Sans';
    font-size: 45px;
    padding-top: 160px;
    padding-left: 90px;
}
.para{
    font-family:  'Nunito Sans';
    font-size: 25px;
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 810px;
}
.category{
    margin-top:200px;
    margin-bottom:70px ;
    margin-left: 420px;
    font-family: 'Noto Sans';
    font-size: 28px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    
} 
.cont{
    margin: 30px;
    background-color: white;
    padding: 25px;
    padding-bottom: 40px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 70px;
    
    font-family:  'Quicksand';
    width: 200px;
   
}
.header{
    font-family: 'Oxygen';
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}
.para1{
    padding-top: 20px;
    font-family: 'Oxygen';
}
.section3{
    justify-content: space-between;
}
.images1{
    height:200px;
    width: 200PX;
    border-top-right-radius:60px;  
}
.images2{
    height:200px;
    width: 200PX;
    border-top-right-radius:60px;
}
.images3{
    height: 200px;
    width: 200PX;
    border-top-right-radius:60px; 
}
.click{
    margin-left: 580px;
    margin-top: 60px;
    border: none;
    border-radius: 40px;
    padding:13px;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #ffffff52;
}
.images4{
    float: right;
    height:500px ;
    width:450px ;
    padding-top: 140px;
    padding-right: 80px;
    border-top-right-radius: 300px;
}
.para2{
    padding-top: 160px;
    padding-left: 110px;
    font-family: 'Oxygen';
    font-size: 40px;
}
.para3{   
    padding-left: 110px;
    padding-top: 30px;
    padding-right:620px;
    font-family: 'Oxygen';
    font-size: 24px;
}
.para4{
    padding-top: 30px;
    padding-left: 110px;
    font-family: 'Oxygen';
    font-size: 24px;
}
.section3{
    padding-top:120px ;
    padding-left:110px ;
    font-family:'Oxygen'; 

}
.address1,.address2,.address3{
    padding-left:110px ;
    font-family:  'Oxygen';
    font-size: 15px;   
}
.address1{
    padding-top: 30px;
}
.container1{

    display: flex;
    justify-content: space-between;
    margin-left:130px;
    margin-top: 160px;
    margin-right: 190px;
}
.mail{
  text-align: center;
  font-family:'Oxygen';
  margin-top: 50px;

}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 70px;

}
.address4{
    font-family:'Oxygen';
   
    font-size: 17px;
    width: 126px;

}
.media{
    font-family:'Oxygen';
    font-size: 14px;

}
.connect{
    font-family:'Oxygen';
    font-weight: 100;
    font-size: 40px;
}
.office{
    font-family:'Oxygen';
    font-size: 20px;
    width: 126px;
    padding-bottom: 20px;
}
.social{
    font-family:'Oxygen';
    font-size: 20px;
    padding-bottom: 20px;
} 
